.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0 50px;
  background-color: #fff;
  
}

.header__menu {
  justify-self: start;
}

.header__logo {
  justify-self: center;
  display: block;
  width: 148px;
  margin-top: 92;
  margin-bottom: 96;
}

.header__logo-image {
  width: 148px !important;
  height: 105px;
  display: block;
  margin-top: 92px;
  margin-bottom: 96px;
}


.header__links-list {
  display: flex;
  gap: 20px;
  list-style: circle;
  font-size: 18px;
}
.header__links-item-1 {
  list-style: none;  
}

.header__address {
  display: flex;             
  flex-direction: column;    
  align-items: flex-start;   
  max-width: 240px;          
  justify-self: end;         
  font-size: 18px;
  line-height: 13px;           
  margin: 0;      
} 

.cover {
  position: relative;              
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;                
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
}

.cover__title-line {
  display: block;
}

.cover__title-line-1 {
  align-self: flex-start;
}

.cover__title-line-2 {
  align-self: center;
}

.cover__title-line-3 {
  align-self: flex-end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.cover__text {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cover__button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  cursor: pointer;
}

.lots {
  margin-top: 180px;     
  padding: 0 24px;       
}

.lots__heading {
  margin-left: 40px;
  margin-bottom:74px;
  font-size: 40px;

}

.lots__card-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
 } 

 .lots__card-list-item {
  width: 334px;        
  min-height: 596px; 
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none; 
  color: inherit;
}

.card {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px;

  background-size: cover;
  background-position: center;

  color: #fff;
}


.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 820px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  margin-top: 120px;        
  padding: 0 24px;          
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 24px;
}

.about__logo-container {
  width: 240px;      
  height: 240px;
  background-color: #000;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;      
}

.about__logo-container img {
  width: 148px;
  height: auto;
  z-index: 0;
}

.about__title {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 24px; 
}

.about__text {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 24px;   
}


.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 40px;
  padding: 60px 24px;
  line-height: 15px;  
}

.footer__address p {
  margin: 0 0 8px 0;
  line-height: 15px;
}

.footer__address a {
  text-decoration: underline;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin-left: 50px;
  text-align: center;
}

.footer__menu-list-item {
  margin-bottom: 12px;
}

.footer__menu-link {
  text-decoration: underline;
  font-weight: 500;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; 
  gap: 48px;
}

.footer__social-link {
  display: flex;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
